version: '3'
services:
  dblocal: 
    image: 'redis'
    container_name: dblocal
    tty: true
    volumes:
      - dblocal-data:/bitnami/redis/data
    ports:
      - 6379:6379
    build: 
      context: ./..
      dockerfile: docker/dockerfile-dblocal
    healthcheck:
        test: ["CMD", "redis-cli","ping"]
        interval: 2s
        timeout: 2s
        retries: 10
    networks:
      - iotnetwork


  localapp:
    image: 'localapp'
    container_name: localapp
    tty: true
    build: 
      context: ./..
      dockerfile: docker/dockerfile-localapp
    environment:
      CLIENT_ID: 'Air_Lux_Test'
    depends_on:
      - broker
      - syncapi
      - dblocal
    #command: bash -c "node index.js"
    volumes:
      - ./../localapp/:/usr/app/
      - localapp-data:/usr/app/
      - localapp-data:/usr/app/node_modules
    networks:
      - iotnetwork


  broker:
    image: eclipse-mosquitto:2
    container_name: broker
    tty: true
    volumes:
      - ./../broker/config/:/mosquitto/config/:ro
      - ./../broker/log/:/mosquitto/log/
      - broker-data:/mosquitto/data/
    ports:
      - 1883:1883
      - 9001:9001
    networks:
      - iotnetwork

  
  pulsor1:
    build: 
      context: ./..
      dockerfile: docker/dockerfile-pulsor
    container_name: pulsor1
    environment:
      PULSOR_ID: '0000001'
    depends_on:
      dblocal:
        condition: service_healthy
    volumes:
      - pulsor1-data:/usr/app/
      - pulsor1-data:/usr/app/node_modules
    networks:
      - iotnetwork
  
  pulsor2:
    build: 
      context: ./..
      dockerfile: docker/dockerfile-pulsor
    container_name: pulsor2
    environment:
      PULSOR_ID: '0000002'
    depends_on:
      dblocal:
        condition: service_healthy
    volumes:
      - pulsor2-data:/usr/app/
      - pulsor2-data:/usr/app/node_modules
    networks:
      - iotnetwork
      

  
  pulsor3:
    build: 
      context: ./..
      dockerfile: docker/dockerfile-pulsor
    container_name: pulsor3
    environment:
      PULSOR_ID: '0000003'
    depends_on:
      dblocal:
        condition: service_healthy
    volumes:
      - pulsor3-data:/usr/app/
      - pulsor3-data:/usr/app/node_modules
    networks:
      - iotnetwork

  
  dbcloud:
    tty: true
    image: mysql:5.7
    container_name: dbcloud
    build: 
      context: ./..
      dockerfile: docker/dockerfile-dbcloud
    healthcheck:
        test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
        interval: 2s
        timeout: 2s
        retries: 10
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: 'AirLuxDB'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'user'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'password'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'password'
    volumes:
      - dbcloud-data:/var/lib/mysql
    networks:
      - iotnetwork
  
  syncapi:
    tty: true
    image: bitnami/laravel
    container_name: syncapi
    build: 
      context: ./..
      dockerfile: docker/dockerfile-syncapp
    working_dir: /var/www/
    ports:
      - "80:80"
      - "6001:6001"
    extra_hosts:
        host.docker.internal: host-gateway
    depends_on:
      dbcloud:
        condition: service_healthy
    environment:
      MYSQL_HOST: 'dbcloud'
      MYSQL_DATABASE: 'AirLuxDB'
    volumes:
      - syncapp-data:/var/www
    networks:
      - iotnetwork
networks:
  iotnetwork:
      
# Names our volume
volumes:
  dbcloud-data:
  dblocal-data:
  syncapp-data:
  broker-data:
  localapp-data:
  pulsor1-data:
  pulsor2-data:
  pulsor3-data:
      